<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Multiplicaciones de Matrices</title>
</head>
<body>
    <h1>Multiplicaciones de matrices ➕✔</h1>
    <div class="caja-input">
        <div class="container">
            <h3>Matriz nº1</h3>
            <input type="number" id="filas1" placeholder="Filas de Matriz 1">
            <input type="number" id="columnas1" placeholder="Columnas de Matriz 1">
        </div>
    
        <div class="container">
            <h3>Matriz nº2</h3>
            <input type="number" id="filas2" placeholder="Filas de Matriz 2">
            <input type="number" id="columnas2" placeholder="Columnas de Matriz 2">
        </div>
    </div>
    <button type="button" id="generar">Generar</button>
    <div id="matrices"></div>
    <button id="multiplicar" style="display:none;">Multiplicar Matrices</button>

    <h2>Resultado:</h2>
    <div id="resultado"></div>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>